.btn {
    background-color: var(--clr-btn-bg);
    padding: 0.5em 1.2em;
    border: 1px solid var(--clr-border);
    border-radius: 4px;
    transform: skewX(-20deg);
    transition: translate 0.3s;
}

.btn:hover {
    translate: 0 -3px;
}

.btn--text {
    display: inline-block;
    transform: skewX(20deg);
}

.container {
    max-width: 1366px;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.text--gradiant {
    background: -webkit-linear-gradient(
        left, var(--clr-primary), 
        var(--clr-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}